.head{
    cursor: pointer;
    user-select: none;
}
.head:hover{
    background-color: rgb(120, 38, 197);
}
.head:active{
    background-color: rgb(106, 33, 174);
}
.table{
    border: solid black 2px;
    border-collapse: collapse;
    width: 90vw;
    text-align: center;
    box-sizing: border-box;
    font-size: 25px;
    
}
.el{
    border: solid black 2px;
    border-collapse: collapse;
    box-sizing: border-box;
    width: 90vw;
    height: 40px;
    padding: 0;
}
.button_el{
    border-collapse: collapse;
    width: 40px !important; /* Заполняет всю ширину ячейки */
    height: 40px !important; /* Заполняет всю высоту ячейки */
    box-sizing: border-box !important;
    padding: 0;

}
.button {
    width: 40px !important; /* Заполняет всю ширину ячейки */
    height: 40px !important; /* Заполняет всю высоту ячейки */
    border: 0px !important; /* Убирает рамку кнопки для соответствия */
    margin: 0; /* Убираем внешние отступы кнопки */
    padding: 0; /* Убираем внутренние отступы кнопки */
    border-collapse: collapse;
    box-sizing: border-box !important; /* Учитывает padding и border в размере */
    background-color: rgba(255, 0, 0, 0.5);
}
.tr{
    height: 40px !important;
    border: 2px solid black;
    box-sizing: border-box !important;
    
}
