body{
    background-color: mediumorchid;
}
div{
    background-color: blueviolet;
}
.post-enter {
    opacity: 0;
    transform: translateY(-20px); /* Добавим движение для наглядности */
  }
  .post-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1000ms ease-in, transform 1000ms ease-in; /* Добавим переход для обеих анимаций */
  }
  
  .post-exit {
    opacity: 1;
    transform: translateY(0);
  }
  .post-exit-active {
    opacity: 0;
    transform: translateY(20px); /* Элемент будет двигаться вниз при удалении */
    transition: opacity 1000ms ease-in, transform 1000ms ease-in;
  }
  .no-post-enter {
    opacity: 0;
    transform: translateY(-20px); /* Добавим движение для наглядности */
  }
  .no-post-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1000ms ease-in, transform 1000ms ease-in; /* Добавим переход для обеих анимаций */
  }
  
  .no-post-exit {
    opacity: 1;
    transform: translateY(0);
  }
  .no-post-exit-active {
    opacity: 0;
    transform: translateY(20px); /* Элемент будет двигаться вниз при удалении */
    transition: opacity 1000ms ease-in, transform 1000ms ease-in;
  }
  table {
    border-spacing: 0;
    margin: 0;
    padding: 0;
}